<div class="booking-row content-padding-xs" id="SSTIMES" style="padding-top:0;margin-top:0;padding-bottom:2px;text-align:center;width:80%;margin-left:10%;background-color:#273023;opacity:0.8;filter:alpha(opacity=40);color:white;border-radius:20px;position:absolute;">
					<div class="container" style="text-align:center;padding-top:0;">
						<div class="row" style="padding-top:2;">
							<div style="padding-top:2;width:100%;position:relative;display:block;float:left;text-align:center;"><h4 style="color:#ffffff;z-index=200;" class=leadingh4>-------------- BEST DEAL FOR GOLF & HOLIDAY DESTINATION --------------</h4></div>	
							<form id="booking-form" role="form" style="padding-top:0;">		
								<div class="col-md-1 col-sm-6"  style="width:140px;">
									<span>TEE TIMES SEARCH</span>
								</div>	
								<div class="col-md-2 col-sm-6  icon-arrow" style="width:140px;">
									<label class="sr-only" for="departure-date">Region</label>
                                    <select id="country_id" name="country_id" class="form-control" style="width:100px;background-color:white;">
                                        <option value="0"></option>
                                    </select>
                                    <script>
                                        getListCountry(1);
                                        $("#country_id").change(function () {
                                            getListProvin($("#country_id").val(), -1);
                                        });
                                        getListProvin(1, -1);
                                        
                                    </script>
																		
								</div>
								<div class="col-md-2 col-sm-6  icon-arrow" style="width:140px;">
									<label class="sr-only" for="departure-date">Province</label>
                                    <select id="province_id" name="province_id" class="form-control" style="width:100px;background-color:#ffffff;">
                                         <option value="0"></option>
                                    </select>
									
								</div>
								<div class="col-md-3 col-sm-4" style="width:190px;">
									<label class="sr-only" for="adults">Course</label>
									<input type="text" class="form-control" id=name name="name" placeholder="Course" style="width:150px;background-color:white;">
								</div>
								<div class="col-md-2 col-sm-6  icon-arrow" style="width:140px;">
									<label class="sr-only" for="departure-date">Players</label>
									<select class="form-control" id="players" style="width:100px;background-color:#ffffff;">										
										<option value="1">1 golfer</option>
										<option value="2">2 golfers</option>
										<option value="3">3 golfers</option>
										<option value="4">4 golfers</option>
										<option value="5">5 golfers</option>
									</select>
								</div>
								<div class="col-md-2 col-sm-4">
									<label class="sr-only" for="adults">Time Arrival</label>
									<input type="text" class="form-control" id=datetimepicker placeholder="Time Arrival">
								</div>							
								<div class="col-md-2 col-sm-4">
									<input type="button" class="btn btn-primary btn-block" onclick="SearchTeeTime();" name="Search Now" value="Search Now" style="width:110px;">
								</div>
							</form>
							<div style="padding-bottom:2;margin-bottom:2px;width:100%;position:relative;display:block;float:left;"><h4 style="color:#ffffff;z-index=200;" >------ BEST SERVICE ------ 36 Golf Course in Viet Nam, 500 Hotel & Resort ------</h4></div>	
						</div><!-- .row -->
					</div><!-- .container -->
				</div><!-- .booking-row -->	
<script>
    function SearchTeeTime() {
        var country = document.getElementById("country_id").value;
        var province = document.getElementById("province_id").value;
        var name = document.getElementById("name").value;
        var players = document.getElementById("players").value;
        var datetimepicker = document.getElementById("datetimepicker").value;
        var date_id = datetimepicker.substr(0, 10).replace(/\//g, "");
        var time = datetimepicker.substr(10,6)+":00";
        //alert(date_id + "," + time);
        //return;
        var url = '/Golf/Search?name=' + name + '&country=' + country + '&province=' + province + '&date_id=' + date_id.trim() + '&time=' + time.trim() + '&players=' + players;
        window.location.href = url;
    }
</script>