<div class="col-sm-3" >
								<div style="width:100%;display:block;position:relative;background-color: #009900;">
									<h6 class="text-center" style="color:#000000;margin-bottom:5px;background-color:#fce8d9;padding-top:10px;padding-bottom:10px;">Tee Times Search</h6>
											<div class="row" >
												<div class="booking-block col-sm-6 col-sm-offset-3" style="width:100%;margin-left:10%;">
													<!--<form id="booking-form" role="form">-->
														<div  style="width:100%;padding-top:30px;">
															<select id="adults" class="form-control" style="width:100px;height:30px;display:block;float:left;position:relative;font-size:12px;padding: 0.1rem 1.5rem;">
																<option selected disabled>Region</option>
																<option >Asian</option>
																<option>Thai Lan</option>
																<option>Singapore</option>
																<option>Malaysia</option>
																<option>VietNam</option>
															</select>	
															<select id="adults" class="form-control" style="margin-left:6px;width:105px;height:30px;display:block;float:left;position:relative;font-size:12px;padding: 0.1rem 1.5rem;">
																<option selected disabled>Province</option>
																<option >Bangkok</option>
																<option>Kuala Lumpur</option>
																<option>Singapore</option>
																<option>Jakata</option>
																<option>Ha Noi</option>
															</select>
														</div>														
														<div style="width:100%;padding-top:50px;">															
															<input type="text" class="form-control" id=course placeholder="Course" style="width:125px;height:30px;background-color:white;display:block;float:left;position:relative;font-size:12px;padding: 0.1rem 1.5rem;">
															<select class="form-control" id="adults" style="width:80px;margin-left:6px;display:block;float:left;position:relative;font-size:12px;height:37px;padding: 0.1rem 1.5rem;height:30px;">
																<option selected disabled>Players</option>
																<option>1 golfer</option>
																<option>2 golfers</option>
																<option>3 golfers</option>
																<option>4 golfers</option>
																<option>5 golfers</option>
															</select>
														</div>														
														<div style="width:100%;padding-top:52px;">
															<label class="sr-only" for="adults">Time Arrival</label>
															<input type="text" class="form-control" id=datetimepicker2 placeholder="Time Arrival" style="width:211px;height:30px;background-color:#ffffff;padding: 0.1rem 1.5rem;">
														</div>	
														<div style="width:100%;padding-top:22px;">
															<input type="submit" class="btn btn-primary btn-block" style="float:right;margin-right:50px;margin-bottom:16px;background-color:#ffffff;color:#008039;width:82px;font-size:12px;" name="Make Reservations" value="Search Now">
														</div>
													<!--</form>-->
												</div><!-- .booking-block -->
											</div>
								</div>
								@*<div style="width:100%;display:block;position:relative;background-color: #ffffff;margin-top:20px;border:1px solid #000000;">	
									<h6 class="text-center" style="color:#000000;font-weight:bold;margin-bottom:15px;background-color:#ffffff;padding-top:10px;padding-bottom:10px;">Customize GOLF Package</h6>	
									<div class=row >
										<div style="display:block;width:97%;text-align:justify;padding-left:25px;padding-right:25px;color:#fff;padding-top:2px;"><!--style="display:block;width:97%;text-align:justify;padding-left:5px;color:#fff;padding-top:2px;"-->
											<p style="color:#000000;margin-bottom:0px;font-size:12px;">Customised golf packages are designed to give you the perfect golf vacation with hundreds of courses, top golf destinations, and discount pricing on where you want to play and stay !</p>
											<!--<p style="color:#000000;margin-top:0px;">......................................................................</p>
											<h4 style="color:#ff0000;margin-top:0px;font-weight:bold;margin-bottom:11px;">PLAN YOUR VACATION</h4>-->											
										</div>	
										<div class="booking-block col-sm-6 col-sm-offset-3" style="display:block;width:100%;margin-left:10%;">
											<div style="width:100%;;text-align:center;">
												<input type="submit" class="btn btn-primary btn-block" style="float:right;margin-right:50px;margin-bottom:16px;background-color:#663300;color:#ffffff;width:82px;font-size:11px;" name="Make Reservations" value="Plan Your Tour">
											</div>
										</div>	
									</div>	
								</div>*@
								<div style="width:100%;display:block;position:relative;background-color: #bf0000;margin-top:20px;">
									<h6 class="text-center" style="color:#ffffff;margin-bottom:15px;background-color:#663300;padding-top:10px;padding-bottom:10px;">Stay and Play</h6>	
									<div class="row" >
										<div style="display:block;width:97%;text-align:justify;padding-left:25px;padding-right:25px;color:#fff;padding-top:2px;"><!--style="display:block;width:97%;text-align:justify;padding-left:5px;color:#fff;padding-top:2px;"-->
											<p style="color:#ffffff;margin-bottom:0px;font-size:12px;margin-bottom:17px;">Let our professional team offer you complete Stay & Play Golf Package with Luxurious accommodation to have Best experience during your holiday.</p>										
										</div>	
										<div class="booking-block col-sm-6 col-sm-offset-3" style="display:block;width:100%;margin-left:10%;">
											<div style="width:100%;;text-align:center;">
												<input type="submit" class="btn btn-primary btn-block" style="float:right;margin-right:50px;margin-bottom:16px;background-color:#ffffff;color:#000000;width:82px;font-size:11px;" name="Make Reservations" value="View Package">
											</div>
										</div>	
									</div>		
								</div>	
								<div style="width:100%;display:block;position:relative;background-color: #a3a3a3;margin-top:20px;">
									<h6 style="color:#000000;margin-bottom:15px;background-color:#a3a3a3;padding-top:10px;padding-bottom:10px;margin-left:4px;font-weight:bold;">News</h6>	
									<div class="row" >
										<div style="display:block;width:97%;text-align:justify;padding-left:25px;padding-right:25px;color:#fff;padding-top:2px;"><!--style="display:block;width:97%;text-align:justify;padding-left:5px;color:#fff;padding-top:2px;"-->
											<p style="color:#000000;margin-bottom:2px;font-size:12px;">> Tiger Good win the tropy cup..</p>
											<p style="color:#000000;margin-bottom:2px;font-size:12px;">> Jason's journey: Day learned to succeed by failing first..</p>																					
											<p style="color:#000000;margin-bottom:2px;font-size:12px;">> Golf Central Monday August 31, 2015..</p>
										</div>	
										<div class="booking-block col-sm-6 col-sm-offset-3" style="display:block;width:100%;margin-left:10%;">
											<div style="width:100%;;text-align:center;">
												<input type="submit" class="btn btn-primary btn-block" style="float:right;margin-right:50px;margin-bottom:16px;background-color:#bf0000;color:#ffffff;width:82px;font-size:11px;" name="Make Reservations" value="Read More">
											</div>
										</div>	
									</div>		
								</div>	
</div>
