<select id="region_id" name="region_id" class="form-control">
    <option value="1">Bắc</option>
    <option value="2">Trung</option>
    <option value="3">Nam</option>
    <option value="4">Đông</option>
    <option value="5">Tây</option>
</select>
