<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>GolfBooking HTML Template</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <link href="~/Content/images/favicon.ico" rel="icon" type="image/png">
	    <link href="http://fonts.googleapis.com/css?family=Domine:400,700%7CRoboto:400,300,500,700,900" rel="stylesheet" type="text/css">
	    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">		
	    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
	    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" media="screen">
	    <link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" media="screen">
	    <link href="~/Content/css/datepicker.css" rel="stylesheet" media="screen">
        <link href="~/Content/css/jquery.fs.boxer.css" rel="stylesheet" media="screen">
	    <link href="~/Content/style.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.datetimepicker.css"/>
		<script src="~/Content/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="~/Content/js/jquery.gmap.min.js"></script>
		<script src="~/Content/js/jquery-ui.js"></script>
		<link rel="stylesheet" href="~/Content/css/jquery-ui.css"> 
  	</head>
	<body>
        <div id="site">
		  	<header id="header" role="banner" style="min-height:100px;">
		  		<div class="header-row clearfix" style="height:3px;background-color:#9FCC47;">
					<div class="container">
						<div class="row">
							<div class="col-sm-12" style="height:3px;background-color:#9FCC47">
								
							</div><!-- .absolute-header -->
						</div><!-- .row -->
					</div><!-- .container -->
					<nav role="navigation" id="main-nav">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<a href="/" id="logo"><img src="~/Content/images/logo-leisure.png" alt="" width=292 height=74></a>
									<input type="checkbox" id="toggle-main-nav" class="toggle-nav-input">
									<img src="~/Content/images/slogantext3.png" style="float:center;padding-top:30px;padding-left:198px;">
									<span style="float:right;padding-top:30px;display:block;position:relative;color:#ffffff;font-size:20px;padding-left:14px;">(84)915 149 666</span>
									<div class="sign-in-out-btns">
											<a class="sign-in-out-btn" href="/">CONTACT US</a>
									</div>
									<ul id="menu-main-menu" class="menu" style="margin-left:350px;margin-top:10px;">
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
											<a href="ourservice.html">Our Service</a>										
										</li>
										<li class="menu-item menu-item-type-custom menu-item-object-custom">
											<a href="/golf/list">Golf Course</a>
											<ul class="sub-menu">
												<li class="menu-item menu-item-type-custom menu-item-object-custom">
													<a href="/golf/list?region=1">Northern</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom">
													<a href="/golf/list?region=2">Central</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom">
													<a href="/golf/list?region=3">Southern</a>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page">
											<a href="http://elitehotel.com.vn">Hotels - Resort</a>
										</li>
										<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-parent-item">
											<a href="#">Golf Package</a>
											<ul class="sub-menu">
											<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-parent-item">
												<a href="#">Northern</a>
												<ul class="sub-menu">
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="#">Hà Nội Package</a>
													</li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="sidebar-right.html">Hải Dương Package</a>
													</li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="members.html">Hải Phòng Package</a>
													</li>
													<li class="menu-item menu-item-type-post_type menu-item-object-page">
														<a href="coming-soon.html">Vĩnh Phú Package</a>
													</li>												
												</ul>
											</li>
											<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-parent-item">
												<a href="#">Central</a>
												<ul class="sub-menu">
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="#">Huế Package</a>
													</li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="sidebar-right.html">Đà Nẵng Package</a>
													</li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="members.html">Cửa Lò Package</a>
													</li>																								
												</ul>
											</li>
											<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-parent-item">
												<a href="#">Southern</a>
												<ul class="sub-menu">
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="#">Phú Quốc Package</a>
													</li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="sidebar-right.html">Bình Thuận Package</a>
													</li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom">
														<a href="members.html">Bình Dương Package</a>
													</li>
													<li class="menu-item menu-item-type-post_type menu-item-object-page">
														<a href="coming-soon.html">Hồ Chí Minh Package</a>
													</li>												
												</ul>
											</li>
										</ul>
										</li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-parent-item"><a href="#">Stay and Play</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-parent-item"><a href="#">Golf Trophy</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page menu-parent-item"><a href="#">News</a></li>
										
									</ul><!-- .menu -->
								</div><!-- .col-xs-12 -->
							</div><!-- .row -->
						</div><!-- .container -->
						<!--<div class="container" style="background-color:#606060;width:100%;text-align:center;height:50px;">
							<div class="row">
								<div class="col-xs-12" style="text-align:center;padding-top:12px;padding-bottom:12px;">
									
								</div>
							</div>
						</div>-->	
						<!--<form id="search-form" action="search.html" class="hidden-xs">
							<div class="container">
								<div class="row">
									<div class="col-lg-12 text-center">
										<input type="text" class="search-field" placeholder="Type something to search  ...">
										<a href="#" class="close-search fa fa-search"></a>	
									</div>
								</div>
							</div>
						</form>-->						
					</nav><!-- #main-nav -->					
					<label class="toggle-nav-label" for="toggle-main-nav"><i class="fa fa-bars fa-lg"></i> Menu</label>
					<label class="toggle-nav-label" for="toggle-secondary-nav"><i class="fa fa-info-circle fa-lg"></i> Services</label>
				</div><!-- .header-row -->
				<div class="textlink" id=slogan1><span  style="text-shadow: 0 0 5px #0026ff, 0 0 7px #0026ff;margin: 10 10 10 10;color:#fff;display: block;font-size:18px;line-height: 1;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;font-size:23px;">@ViewBag.slogan1</span></div>
                <div class="smalltext" id=slogan2><span style="text-shadow: 0 0 25px #000, 0 0 27px #000;margin: 10px 0;color:#fff;display: block;font-size:23px;line-height: 1;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;">@ViewBag.caption1</span></div>		
		  	</header><!-- #header -->
            <div>
                @RenderBody()
            </div>
        <footer id="footer" role="contentinfo">			
		  		<div class="container">
		  			<div class="row" id="main-footer">
		  				<div class=livechat id=livechat1>LIVE CHAT</div>
						<!--<div class=livechat2 id=livechat2>
							<div style="display:block;float:left;position:relative;width:100%;background-color:#9FCC47;">Suport 24/7</div>
							<div style="display:block;float:left;position:relative;width:100%;background-color:#ffffff;">
								<label class="sr-only" for="adults">Name or Email</label>
								<input type="text" class="form-control" id=cname placeholder="enter name or email">
							</div>
						</div>-->
		  			</div><!-- end .row -->
		  			<div class="row" id="absolute-footer">
		  				<div class="col-sm-12">
		  					<aside class="widget" style="float:left;display:block;position:relative;width:35%;padding-top:2px;">
		  						<p>CÔNG TY CỔ PHẦN ĐẦU TƯ THƯƠNG MẠI VÀ TRUYỀN THÔNG QUỐC TẾ <br>
								   Office: R1209, 13th floor, 137 Nguyen Ngoc Vu Building, Cau Giay District, Hanoi, Vietnam<br>
								   Tel: (+84)466819156 – Hotline: (+84)915149666 <br> Fanpage: www.facebook.com/intergolfvn <br> Email: info@intergolf.vn. All Rights Reserved. <br>
		  						<!--<span class="pull-right hidden-xs">
		  							<a href="#" class="fa fa-boxed fa-rss" data-toggle="tooltip" data-placement="left" title="Leisure RSS"></a>
		  							<a href="http://www.pinterest.com/raducretu/curly-themes/" class="fa fa-boxed fa-pinterest" data-toggle="tooltip" data-placement="left" title="Leisure Pintrest Board"></a>
		  							<a href="https://www.facebook.com/cthemes" class="fa fa-boxed fa-facebook" data-toggle="tooltip" data-placement="left" title="Leisure on Facebook"></a>
		  							<a href="https://twitter.com/CurlyThemes" class="fa fa-boxed fa-twitter" data-toggle="tooltip" data-placement="left" title="Leisure on Twitter"></a>
		  						</span>-->								
		  						</p>								
		  					</aside><!-- .widget -->
							<aside class="widget" style="float:left;display:block;position:relative;width:35%;padding-top:2px;">
								<img src="~/Content/images/logof1.jpg" width=190 height=300><img src="~/Content/images/logof2.png" width=190 height=300 style="padding-left:5px;">
							</aside>
							<span class="pull-right hidden-xs">									
									<div id="map-canvas" style="height: 200px; width: 330px;float:right;padding-top:2px;display:block;position:relative;"></div>								
							</span>
		  				</div><!-- .col-sm-12 -->
		  			</div><!-- #absolute-footer -->
		  		</div><!-- .container -->
		  	</footer><!-- #footer -->		
		</div><!-- #site -->
		
		<!-- All Pages JS -->
		<script src="~/Content/js/jquery-1.11.1.min.js"></script>
		<script src="~/Content/js/bootstrap.min.js"></script>		
		<script src="~/Content/js/dropdown-menu.min.js"></script>
		<script src="~/Content/js/waypoints.min.js"></script>
		<script src="~/Content/js/waypoints-sticky.min.js"></script>
		<script src="~/Content/js/jquery.velocity.min.js"></script>
		<script src="~/Content/js/velocity.ui.js"></script>
		<script src="~/Content/js/doubletaptogo.js"></script>
		
		<!-- Individual JS -->  	
	    <script src="~/Content/js/bootstrap.datepicker.min.js"></script>
	    <script src="~/Content/js/jquery.stellar.min.js"></script>
	    <script src="~/Content/js/owl.carousel.min.js"></script>
	    <!-- Individual JS -->
	    <script src="~/Content/js/jquery.fs.boxer.min.js"></script>
	    <!-- Main JS -->
	    <script src="~/Content/js/main.js"></script>
		
		<script src="~/Content/js/jquery.datetimepicker.js"></script>
<script>/*
window.onerror = function(errorMsg) {
	$('#console').html($('#console').html()+'<br>'+errorMsg)
}*/
    $('#datetimepicker').datetimepicker({
        dayOfWeekStart: 1,
        lang: 'en',
        disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
        startDate: '2015/01/08'
    });
    var d = new Date();
    var s = d.toLocaleString();
    $('#datetimepicker').datetimepicker({ value: s, step: 10 });



</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525a0f067072496a" async="async"></script>-->
<script type="text/javascript" src="~/Content/js/jquery.simplyscroll.js"></script>
<link rel="stylesheet" href="~/Content/css/jquery.simplyscroll.css" media="all" type="text/css">
<script type="text/javascript">
    (function ($) {
        $(function () { //on DOM ready 
            $("#scroller").simplyScroll();
        });
    })(jQuery);
</script>

<!--Start of Zopim Live Chat Script-->
<!--
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3DKPa68GNBWdbxOZIU4sK9aaX6RpVDFT";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>-->
<!--End of Zopim Live Chat Script-->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
									<script>
									    $(function () {

									        $(window).load(function () {
									            initialize();
									        });

									        var map;
									        var overlay;

									        function initialize() {
									            var mapDiv = document.getElementById('map-canvas');
									            map = new google.maps.Map(mapDiv, {
									                center: new google.maps.LatLng(21.011137, 105.809026),
									                zoom: 16,
									                zoomControl: true,
									                zoomControlOptions: {
									                    style: google.maps.ZoomControlStyle.SMALL
									                },
									                //minZoom: 15, maxZoom: 19,
									                mapTypeId: google.maps.MapTypeId.ROADMAP,
									                scaleControl: true,
									                scaleControlOptions: {
									                    position: google.maps.ControlPosition.BOTTOM_LEFT
									                }
									            });

									            google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);

									            overlay = new google.maps.OverlayView();
									            overlay.draw = function () { };
									            overlay.setMap(map);

									            //BienDongInit(map, "map-canvas");

									        }

									        //var imageRed = new google.maps.MarkerImage('/img/icons/marker-house-red.gif',new google.maps.Size(16, 16),new google.maps.Point(0,0),new google.maps.Point(8, 16));
									        var imageGreen = new google.maps.MarkerImage('/img/icons/marker-house-green.gif', new google.maps.Size(16, 16), new google.maps.Point(0, 0), new google.maps.Point(8, 16));

									        function addMarkers() {
									            // current hotel pointer
									            var latLng = new google.maps.LatLng(21.011137, 105.809026);
									            var marker = new google.maps.Marker({ position: latLng, map: map });
									            var content = '<div style="width:100px;float:left;margin-right:10px;"><img src="http://elitehotel.com.vn//Images/Hotels/premier-village-danang-resort-quan-ngu-hanh-son-i8c4b.jpg" width="100" height="100"/></div><div style="font-size:10pt;width:290px;float:left;"><div style="margin-bottom:5px;font-weight:bold;font-size:1.2em;">Premier Village Danang Resort</div><span style="color:#444;font-size:9pt;">V&#245; Nguyễn Gi&#225;p, quận Ngũ H&#224;nh Sơn, Đ&#224; Nẵng, Việt Nam</span></div></div><div class="clear"></div>';
									            marker['content'] = content;

									            //google.maps.event.addListener(marker, 'mouseover', function() { ShowContentPopup(this); });
									            google.maps.event.addListener(marker, 'mouseout', function () { $("#divMapInfoWindow").hide(); });

									        }

									    });
									</script>
	</body>
</html>
