@model GolfBooking.Models.ModelPacketStayItem
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article id="content">
    <section class="container content-padding-lg" style="padding-top:2px;">
        <h6>Home » Golf Package</h6>
        <div class="row animated">
            @Html.Partial("~/Views/_vLeftMenu.cshtml")
            <div class="col-sm-9" style="background-color:#edebe1;padding-left:0px;padding-right:0px;" id=slide1>
                <div style="width:100%;position:relative;display:block;float:left;padding-left:0px;">
                    <div class="col-sm-12" id=slide1bg style="border:1px solid #bf0000;padding-left:1px;background-position:center;background-size:100% 100%;height:600px;">
                        <h6 style="margin-top:2px;color:#bf0000;font-weight:bold;margin-left:7px;">@Model.name</h6>
                        <div class="col-sm-4" style="padding-left:11px;">
                            @foreach (var image in Model.listImages)
                            {
                                <img src="http://golf.binhyen.net@{@image}" style="width:100%;height:190px;padding-top:10px;padding-bottom:10px;">
                            }
                        </div>
                        <div class="col-sm-8">
                            @Html.Raw(Model.full_detail )
                            <input type="submit" class="btn btn-primary btn-block" style="float:right;right:0;bottom:0;background-color:#bf0000;color:#ffffff;width:112px;font-size:11px;position:absolute;" name="Make Reservations" value="Request Package">
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top:15px;padding-bottom:15px;background-color:#ffffff;color:#bf0000;font-weight:bold;"><i>More Discounted Packages</i></div>
            <div class="col-sm-9" style="background-color:#edebe1;padding-left:0px;padding-right:0px;margin-bottom:15px;">
                <div style="width:100%;position:relative;display:block;float:left;padding-left:5px;">
                    <div class="col-sm-4" style="padding-left:1px;">
                        <img src="images/gv4.jpg" style="width:100%;height:160px;padding-top:10px;padding-bottom:10px;">
                    </div>
                    <div class="col-sm-6">
                        <h6 style="margin-top:2px;color:#bf0000;font-weight:bold;">7 Days 6 Nights Shocking Banyan Tree Villa  + 5 rounds of Golf</h6>
                        <p>
                            Offers from 15th September 2014 to 14th September 2015
                            7 Nights in Twin Room based on 2 sharing on B & B Basis
                            Water and Fruit on arrival
                            5 x 18 holes as follows - either
                            3 round Golf Montado + 2 round at Ribagolfe
                            5 rounds at Golf Montado
                            3 round at Montado + 2 round Golf at Troia
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <div style="background-color:#bf0000;border-radius: 100%;color:#ffffff;height:125px;width:125px;position:position: absolute;">
                            <span style="text-shadow: 0 0 5px #0026ff, 0 0 7px #0026ff;padding-top:40px;padding-left:46px;color:#fff;display: block;font-size:12px;line-height: 1;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;width:10px;">Only from 231$</span>
                        </div>
                    </div>
                </div>
                <div style="width:100%;position:relative;display:block;float:left;padding-left:0px;padding-right:0px;">
                    <div style="padding-left:0px;background-color:#a3a3a3;width:83%;position:relative;display:block;float:left;">
                        &nbsp;
                    </div>
                    <div style="background-color:#00b04f;text-align:center;color:#ffffff;width:17%;position:relative;display:block;float:left;">
                        <a href="#" style="color:#ffffff;">Details</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-9" style="background-color:#edebe1;padding-left:0px;padding-right:0px;margin-top:15px;">
                <div style="width:100%;position:relative;display:block;float:left;padding-left:5px;">
                    <div class="col-sm-4" style="padding-left:1px;">
                        <img src="images/gv1.jpg" style="width:100%;height:160px;padding-top:10px;padding-bottom:10px;">
                    </div>
                    <div class="col-sm-6">
                        <h6 style="margin-top:2px;color:#bf0000;font-weight:bold;">3 Days 2 Nights Shocking Angsana Langco Hotel   with unlimited Golf for 2 days</h6>
                        <p>
                            3 round Golf Montado + 2 round at Ribagolfe
                            5 rounds at Golf Montado
                            3 round at Montado + 2 round Golf at Troia
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <div style="background-color:#bf0000;border-radius: 100%;color:#ffffff;height:125px;width:125px;position:position: absolute;">
                            <span style="text-shadow: 0 0 5px #0026ff, 0 0 7px #0026ff;padding-top:40px;padding-left:46px;color:#fff;display: block;font-size:12px;line-height: 1;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;width:10px;">Only from 241$</span>
                        </div>
                    </div>
                </div>
                <div style="width:100%;position:relative;display:block;float:left;padding-left:0px;padding-right:0px;">
                    <div style="padding-left:0px;background-color:#a3a3a3;width:83%;position:relative;display:block;float:left;">
                        &nbsp;
                    </div>
                    <div style="background-color:#00b04f;text-align:center;color:#ffffff;width:17%;position:relative;display:block;float:left;">
                        <a href="#" style="color:#ffffff;">Details</a>
                    </div>
                </div>

            </div>
        </div>

    </section>
</article><!-- #content -->  