@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<script>
	var sl=0;
	var slu=[];
	var sld = [];
	var slbg = [];
	var csl = 0;
    @foreach(var c in ViewBag.caption){
        <text>
            slu.push("@c.slogan");
            sld.push("@c.caption");
            slbg.push("@c.image");
            sl++;
        </text>
    }
    $('#header').css("background-image", "url('" + slbg[csl % sl] + "')");
	//alert($("#header").html());
	function changeBG(){
		//sl++;
		//$('#header').slideDown(1000,changeBGDO());
	    if (csl% 2 == 0) {
			//alert("1");
			//$('#header').fadeIn(3000,changeBGDO());
			$('#header').animate({opacity: 0.9}, 1000,changeBGDO).animate({opacity: 1}, 1000);
		}else{
			$('#header').animate({opacity: 0.9}, 1000,changeBGDO).animate({opacity: 1}, 1000);
			//$('#header').fadeIn(3000,changeBGDO());
		}
	}
	var spslu1="<span style=\"text-shadow: 0 0 25px #000, 0 0 27px #000;margin: 10 10 10 10;color:#fff;display: block;font-size:18px;line-height: 1;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;font-size:23px;\">";
	var spslu2="<span style=\"text-shadow: 0 0 25px #000, 0 0 27px #000;margin: 10px 0;color:#fff;display: block;font-size:23px;line-height: 1;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;\">";
	function changeBGDO(){
	    csl++;
	           $('#header').css("background-image", "url('" + slbg[csl % sl] + "')");
			 
			 $('#slogan1').html(spslu1 + slu[csl % sl] + "</span>");
			 
			 $('#slogan2').html(spslu2+sld[sl%sl]+"</span>");
			 
		
	}
	setInterval(changeBG, 4000);
	
</script>